<!DOCTYPE HTML>
<html>
<head>

<link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<script src="../../js/jquery-1.9.1.min.js"></script>  
<script src="../../assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../static/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/bmob.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>修改课程</title>
<html lang="en">

    <script type="text/javascript">//表单中显示要修改课程的信息
    Bmob.initialize("ccf9a7dde02a9f8ec754c88c9c68dcdc", "22810079aeba295046c8b5364d460e16");
        var pKey = Number(oneValues());//获取要修改课程的ID
        console.log(pKey);
        var MySubject = Bmob.Object.extend("MySubject");
        var query = new Bmob.Query(MySubject);
        query.equalTo("subjectId", pKey);
        query.find({
            success: function(results) {
                console.log("共查询到 " + results.length + " 条记录");
                // 循环处理查询到的数据
                for (var i = 0; i < results.length; i++) {
                var object = results[i];
                console.log(object.id + ' - ' + object.get('playerName'));
                document.getElementById("subjectId").value=object.get("subjectId");
                document.getElementById("name").value=object.get("name");
                document.getElementById("credit").value=object.get("credit");
                document.getElementById("teacher").value=object.get("teacher");
                document.getElementById("subjectNum").value=object.get("subjectNum");
                document.getElementById("weekList").value=object.get("weekList");
                document.getElementById("day").value=object.get("day");
                document.getElementById("start").value=object.get("start");
                document.getElementById("step").value=object.get("step");
                document.getElementById("room").value=object.get("room");
                document.getElementById("term").value=object.get("term");
                console.log("应该进入课程修改函数");
                }
            },
            error: function(error) {
                alert("查询失败: " + error.code + " " + error.message);
            }
        });
        function oneValues()//获取页面传来的主键值
        {
            var result;
            var url=window.location.search; //获取url中"?"符后的字串
            if(url.indexOf("?")!=-1){
            result = url.substr(url.indexOf("=")+1);
            }
            return result;
        }
    </script>
</head>

<body>

<form  class="form-horizontal" name="form-AddSub">
        <h5 class="page-header alert-info" style="margin:0px; padding:10px; margin-bottom:10px;">
        基本信息
        </h5>
        
        <!-- 111 -->
       <div class="row">
            <div class="col-sm-5"> 
                <div class="form-group">
                    <label class="col-sm-3 control-label">课程号</label>
                    <div  class="col-sm-9">
                        <input type="text" class="form-control" placeholder="请输入课程号" required="required" id="subjectId" name="subjectId"  value=''/> 
                    </div>
                </div>
            </div>
            <div class="col-sm-5"> 
                <div class="form-group">
                    <label class="col-sm-3 control-label">课程名</label>
                    <div  class="col-sm-9">
                        <input type="text" class="form-control" placeholder="请输入课程名" required="required" id="name" name="name"  value=''/> 
                    
                    </div>
                </div>
            </div>
            <div class="col-sm-5"> 
                <div class="form-group">
                    <label class="col-sm-3 control-label">学分</label>
                    <div  class="col-sm-9">
                        <input type="text" class="form-control" placeholder="请输入学分" required="required" id="credit" name="credit"  value=''/> 
                    </div>
                </div>
            </div>
            <div class="col-sm-5"> 
                <div class="form-group">
                    <label class="col-sm-3 control-label">教师</label>
                    <div  class="col-sm-9">
                        <input type="text" class="form-control" placeholder="请输入教师" required="required" id="teacher" name="teacher"   value=''/> 
                    
                    </div>
                </div>
            </div>
        
            <div class="col-sm-5"> 
                <div class="form-group">
                    <label class="col-sm-3 control-label">课程容量</label>
                    <div  class="col-sm-9">
                        <input type="text" class="form-control" placeholder="请输入课程容量" required="required" id="subjectNum" name="subjectNum"  value='' /> 
                    </div>
                </div>
            </div>
            <div class="col-sm-5"> 
                <div class="form-group">
                    <label class="col-sm-3 control-label">上课周次</label>
                    <div  class="col-sm-9">
                        <input type="text" class="form-control" placeholder="以英文字符“,”分隔每个数字" required="required" id="weekList" name="weekList"  value=''/> 
                    
                    </div>
                </div>
            </div>
        </div>
       <!-- 3333 -->
       
                <!-- 222 -->
        <div class="row">
            <div class="col-sm-5"> 
                <div class="form-group">
                    <label class="col-sm-3 control-label">星期</label>
                    <div  class="col-sm-9">
                        <input type="text" class="form-control" placeholder="请输入上课星期" required="required" id="day" name="day"  value='' /> 
                    </div>
                </div>
            </div>
            <div class="col-sm-5"> 
                <div class="form-group">
                    <label class="col-sm-3 control-label">节次</label>
                    <div  class="col-sm-9">
                        <input type="text" class="form-control" placeholder="请输入上课节次" required="required" id="start" name="start"  value=''/> 
                    
                    </div>
                </div>
            </div>
            <div class="col-sm-5"> 
                <div class="form-group">
                    <label class="col-sm-3 control-label">节数</label>
                    <div  class="col-sm-9">
                        <input type="text" class="form-control" placeholder="请输入上课节数" required="required" id="step" name="step"  value='' /> 
                    
                    </div>
                </div>
            </div>
            <div class="col-sm-5"> 
                <div class="form-group">
                    <label class="col-sm-3 control-label">教室</label>
                    <div  class="col-sm-9">
                        <input type="text" class="form-control" placeholder="请输入上课教室" required="required" id="room" name="room"  value=''/> 
                    </div>
                </div>
            </div>
            <div class="col-sm-5"> 
                <div class="form-group">
                    <label class="col-sm-3 control-label">学期</label>
                    <div  class="col-sm-9">
                        <input type="text" class="form-control" placeholder="请输入开课学期" required="required" id="term" name="term"  value=''/> 
                    
                    </div>
                </div>
            </div>
            
            
        </div>

       <!-- 2222 -->
        
        <div class="row">
            <div class="col-sm-3 col-sm-offset-4">
                <input type="submit" class="btn btn-success" value="添加课程" id="btn-changeSub">
                
            </div>
        </div>
  

</form>

<script type="text/javascript">
        $("#btn-changeSub").click(function changeSubject()
        {
            console.log("进入课程修改函数");
            var subjectId = Number(document.forms["form-AddSub"]["subjectId"].value);
            var name = document.forms["form-AddSub"]["name"].value;
            var credit = Number(document.forms["form-AddSub"]["credit"].value);
            var teacher = document.forms["form-AddSub"]["teacher"].value;
            var subjectNum = Number(document.forms["form-AddSub"]["subjectNum"].value);
            var weekList_temp = document.forms["form-AddSub"]["weekList"].value;
            var day = Number(document.forms["form-AddSub"]["day"].value);
            var start = Number(document.forms["form-AddSub"]["start"].value);
            var step = Number(document.forms["form-AddSub"]["step"].value);
            var room = document.forms["form-AddSub"]["room"].value;
            var term = document.forms["form-AddSub"]["term"].value;
            var weekList=new Array();
            weekList = weekList_temp.split(",");//以“,”为分割将字符串转为数组
            for(var i=0;i<weekList.length;i++)
            {
                weekList[i]=Number(weekList[i]);
            }
            var MySubject = Bmob.Object.extend("MySubject");
            var query = new Bmob.Query(MySubject);
            var pKey = Number(subjectId);//获取主键值
            console.log(name+credit+teacher+subjectNum+weekList+day+start+step+room+term);
            query.equalTo("subjectId", pKey);
            query.find({
                success: function(results) {
                    console.log("共查询到要修改的数据" + results.length + " 条记录");
                    // 循环处理查询到的数据
                    for (var i = 0; i < results.length; i++) {
                    var subject = results[i];
                    subject.set("name",name);
                    subject.set("credit",credit);
                    subject.set("teacher",teacher);
                    subject.set("subjectNum",subjectNum);
                    subject.set("weekList",weekList);
                    subject.set("day",day);
                    subject.set("start",start);
                    subject.set("step",step);
                    subject.set("room",room);
                    subject.set("term",term);
                    subject.save();
                    alert("修改成功")
                        return false;
                    }
                },
                error: function(error) {
                    console.log("查询失败: " + error.code + " " + error.message);
                }
            });
            return false;
        })
    </script>
</body>
</html>
